@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #4c87e8, #7e53c1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 420px;
    width: 100%;
}

.login-box {
    max-width: 400px;
    text-align: center;
}

.logo img {
    max-width: 200px;
    height: auto;
}

h2 {
    margin-top: 20px;
    color: #333333;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: #555555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

.btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 421px;
    margin-top: 30px;
}

.btn:hover {
    background-color: #0056b3;
}

.captcha-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.captcha-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.captcha-input {
    flex: 1;
    margin-right: 10px;
}

.captcha-sum {
    font-weight: bold;
    color: #A52A2A;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
        width: 80%;
    }

    .logo img {
        max-width: 150px;
    }

    h2 {
        font-size: 18px;
    }

    .btn {
        font-size: 14px;
    }
    input{
        width: 90%;
    }
}